html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.circle {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: flex;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-justify: auto;
}

.circulo > h2 {
	font-family: sans-serif;
	color: white;
	font-size: 1.4rem;
	font-weight: bold;
}

.valor {
  float: right;
  text-align: right;
}

.descricao {
  text-transform: uppercase;
}

.header-class {
  height: 50px;
  background-color: #292961;
  color: #fff;
}

.web-class {
  display: block;
}

.mobile-class {
  display: none;
}

@media (max-width: 767.98px) {
  .web-class {
    display: none;
  }

  .mobile-class {
    display: block;
  }
}