html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.header-class {
  height: 50px;
  background-color: #292961;
  color: #fff;
}

.web-class {
  display: block;
}

.mobile-class {
  display: none;
}

@media (max-width: 767.98px) {
  .web-class {
    display: none;
  }

  .mobile-class {
    display: block;
  }
}