html,

/* #337CA0
#3EC300
#FFFC31
#FF1D15
#E13700 */

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.circle {
  color: white;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  box-shadow: 2px 2px 4px #585858;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-justify: auto;
  text-shadow: 2px 2px 4px #585858;
}
.mensalidade {
  background-color: #FF1D15;
}

.uniforme {
  background-color: #3EC300;
}

.campori {
  background-color: #F0A202;
}

.evento {
  background-color: #337CA0;
}

.circle > h2 {
	font-family: sans-serif;
	color: white;
	font-size: 1.2rem;
	font-weight: bold;
}

.valor {
  float: right;
  text-align: right;
}

.descricao {
  text-transform: uppercase;
}

.header-class {
  height: 50px;
  background-color: #292961;
  color: #fff;
}

.web-class {
  display: block;
}

.mobile-class {
  display: none;
}

.valor {
  text-shadow: 2px 2px 4px #bbb9b9;
}

.groupItem {
  border-radius: 1em;
  box-shadow: 2px 2px 4px #cccbcb;
}

@media (max-width: 767.98px) {
  .web-class {
    display: none;
  }

  .mobile-class {
    display: block;
  }
}